.modal {
    background-color: white;
    height: 1000px;
    width: 300px;
    margin-top: 10px;
    color: teal;
    border-radius: 4px;
}

.navbutton {
    margin:0 auto;
    margin-right:10px;
    float:left;
}

/* .modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
} */